.container {
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 4px solid #292929;
  margin: 0 auto;
  overflow: hidden;

  .button {
    color: #fff;
    background-color: #292929;
    padding: 10px 16px;
    border: none;
    border-radius: 6px;

    &:hover {
      opacity: 0.85;
    }
  }
}

.react-tooltip {
  width: 400px !important;
  line-height: 1.5;
}
