$violet-01: #9747ff;
$white-01: #ffffff;
$gray-01: #d9d9d9;
$black-01: #292929;
$red-01: #c21807;

.custom-react-calendar {
  width: 350px;
  font: inherit;
  border-radius: 8px;
  border: none;
  box-shadow: 0 0 10px 5px rgba($color: $gray-01, $alpha: 0.5);
  overflow: hidden;

  abbr[title] {
    text-decoration: none;
  }

  .react-calendar__navigation {
    background-color: $violet-01;

    button {
      &:enabled {
        &:hover {
          background-color: inherit;
        }
        &:focus {
          background-color: inherit;
        }
      }
    }

    .react-calendar__navigation__label {
      font-size: 14px;
      color: $white-01;
      background-color: transparent;

      .react-calendar__navigation__label__labelText {
        position: relative;

        &::after {
          content: '';
          position: absolute;
          bottom: 0;
          left: 50%;
          width: 0;
          height: 2px;
          background-color: $white-01;
          transform: translate(-50%, 100%);
          transition: width ease 200ms;
          transition-delay: 100ms;
          opacity: 0.8;
        }
      }
      &:hover {
        .react-calendar__navigation__label__labelText {
          &::after {
            width: 100%;
          }
        }
      }
    }

    .react-calendar__navigation__arrow {
      color: $white-01;
      background-color: transparent;

      &:hover {
        color: $black-01;
      }
    }
  }

  .react-calendar__tile {
    &:hover {
      background-color: $gray-01;
    }

    &.react-calendar__month-view__days__day {
      color: $black-01;

      &--weekend {
        color: $black-01;
      }

      &--neighboringMonth {
        color: $gray-01;
      }

      &.react-calendar__tile--now {
        font-weight: 700;
        color: $violet-01;
        background-color: transparent;

        &:hover {
          background-color: $gray-01;
        }

        &.react-calendar__tile--active {
          color: $white-01;
          background-color: $violet-01;

          &:hover {
            background: rgba($gray-01, 0.7);
          }
        }
      }
    }
  }

  .react-calendar__tile--active {
    background-color: $gray-01;
    color: $black-01;
  }

  .react-calendar__tile--rangeStart {
    background-color: $violet-01;
    color: $white-01;
    &:hover {
      background-color: rgba($color: $violet-01, $alpha: 0.7) !important;
    }
  }
  .react-calendar__tile--rangeEnd {
    background-color: $violet-01;
    color: $white-01;

    &:hover {
      background-color: rgba($color: $violet-01, $alpha: 0.7) !important;
    }
  }

  .react-calendar__tile--hasActive {
    color: $white-01;
    background-color: $violet-01 !important;
    &:hover {
      opacity: 0.9;
    }
  }
}
